body {
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: 'Cantarell';
  background-color: #262626;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

h1 {
  color: #9a9b9c;
  font-size: 75px;
  animation: glitch 1s linear infinite;
}


.search_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 120px;
  transition: box-shadow 0.5s;
}
input {
    color: #eceff4;
    background-color: #333;
    width: 700px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    border: none;
    vertical-align: top;
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}
button {
    width: 50px;
    height: 50px;
    background: #333;
    vertical-align: top;
    border: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #81a1c1;
    color: #eceff4;
}
.go {
    color: #eceff4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}
.go:hover {
    color: #333;
}
.se_btn {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;  
}
#se_icon {
    width: 24px;
    height: 24px;
}
.filter-white {
    filter: invert(1)
}

.a1 { grid-area: a1; }
.a2 { grid-area: a2; }
.a3 { grid-area: a3; }
.a4 { grid-area: a4; }
.a5 { grid-area: a5; }
.a6 { grid-area: a6; }
.a7 { grid-area: a7; }
.a8 { grid-area: a8; }
.a9 { grid-area: a9; }
.a10 { grid-area: a10; }
.a11 { grid-area: a11; }
.a12 { grid-area: a12; }
.a13 { grid-area: a13; }
.a14 { grid-area: a14; }
.a15 { grid-area: a15; }


ul {
  margin-top: 320px;
  padding: 0px;
  display: grid;
  grid-template-areas:
    ' a1 a2 a3 a4 a5'
    ' a9 a6 a7 a8 a10'
    ' a11 a12 a13 a14 a15';
  grid-gap: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 220px;
  height: 105px;
  text-align: center;
  line-height: 108px;
  background: #333;
  border-radius: 6%;
  font-size: 40px;
  color: #666;
  transition: .5s;

}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6%;
  background: rgb(255, 254, 254);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffffff;
}

ul li a:hover {
  color: #ccccca;
  box-shadow: 0 0 5px #dddddd;
  text-shadow: 0 0 5px #dddddc;
}
